._container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em auto;
  gap: 0px 0px;
  grid-template-areas:
    "navigation navigation"
    "chessboard action";
  height: 100vh;
}

._container header {
  grid-area: navigation;
}

._container .chessboard {
  grid-area: chessboard;
}

._container .content {
  grid-area: action;
}
