.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em auto 3em;
  gap: 0px 0px;
  grid-template-areas:
    "navigation navigation"
    "chessboard action"
    "footer footer";
}

.grid_container header { 
  grid-area: navigation; 
}

.grid_container .chessboard { 
  grid-area: chessboard; 
}

.grid_container .action { 
  grid-area: action; 
}

.grid_container footer { 
  grid-area: footer; 
}